<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preload" href="../fonts/SyntaxLTStd-Bold.otf">
    <link rel="preload" href="../fonts/SyntaxLTStd-Roman.otf">
    <title>Agustín Scirica - Sobre mí</title>
</head>
<body>
    <header id="top">
        <h1>ACS</h1>
        <nav>
            <ul>
                <li><a href="../index.html">home</a></li>
                <li>sobre mi</li>
                <li><a href="../views/plans.html">planes</a></li>
                <li><a href="../views/news.html">noticias</a></li>
                <li><a href="../views/contact-me.html">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>¡Hola, soy Agustin!</h2>
        <p>y me especializo en brindar asesoramiento personalizado on-line sobre planes de salud individuales y familiares de Medifé. Mi objetivo es ayudarte a encontrar el plan perfecto que se adapte a tus necesidades y las de tus seres queridos. Gracias a mi experiencia, y el respaldo de Medifé, podés confiar que recibirás u nservicio de calidad y una atención integral.</p>
        <p>¡Contactame hoy mismo para obtener la tranquilidad y protección que te merecés!</p>
        <img src="../img/ACS.jpg" alt="Black and white photo of Agustin Scirica">    
    </main>
    <footer>
        <h3>Todos los derechos reservados</h3>
        <a href="#top">Volver al inicio</a>
    </footer>
</body>
</html>