<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preload" href="../fonts/SyntaxLTStd-Bold.otf">
    <link rel="preload" href="../fonts/SyntaxLTStd-Roman.otf">
    <title>Agustín Scirica - Contacto</title>
</head>
<body>
    <header id="top">
        <h1>ACS</h1>
        <nav>
            <ul>
                <li><a href="../index.html">home</a></li>
                <li><a href="../views/about-me.html">sobre mi</a></li>
                <li><a href="../views/plans.html">planes</a></li>
                <li><a href="../views/news.html">noticias</a></li>
                <li>contacto</li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Creación del formulario de contacto-->
        <form>
            <!--La etiqueta fildset enmarca los campos del formulario-->
            <fieldset>
                <!--Etiqueta para darle un título al formulario-->
                <legend>¿Tenés alguna duda?</legend>
                <!--Etiqueta div "comodín" que contiene el campo para ingresar Nombre-->
                <div>
                    <!--Las etiquetas input son aquellas que se utilizan para los diferentes elementos de un formulario. El type/tipo le da el "sentido" a cada campo. A título de ejemplificar, el tipo 'email' espera que se le ingrese un correo electrónico. Ésta en particular, además, agrega una validación por html, la cual chequea que el correo haya sido escrito de manera correcta-->
                    <input type="text" placeholder="Nombre completo">
                </div>
                <div>
                    <input type="email" placeholder="Correo electrónico">
                </div>
                <div>
                    <input type="tel" placeholder="Celular">
                </div>
                <div>
                    <textarea name="" id="" cols="21" rows="10"></textarea>
                </div>
                <div>
                    <input type="reset" value="Restablecer">
                </div>
                <div>
                    <input type="submit" value="Enviar">
                </div>
            </fieldset>
        </form>
    </main>
    <footer>
        <h3>Todos los derechos reservados</h3>
        <a href="#top">Volver al inicio</a>
    </footer>
</body>
</html>