<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://kit.fontawesome.com/a22c32b01e.js" crossorigin="anonymous"></script>
    <title>Agustín Scirica | Asesor Medifé</title>
    <meta name="keywords" content="medicina prepaga, cobertura médica privada, seguro de salud privado, servicios médicos, medicina privada, atención médica, seguro médico, salud y bienestar, empresa de medicina prepaga, Medifé">
</head>

<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="check-button">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">ACS Medifé</label>

        <ul>
            <li><a href="../index.html">inicio</a></li>
            <li><a href="../views/about-me.html">sobre mi</a></li>
            <li><a href="../views/plans.html">planes</a></li>
            <li><a href="../views/news.html">noticias</a></li>
            <li><a href="../views/contact-me.html" class="active">contacto</a></li>
        </ul>
    </nav>

    <div class="body-contacto">
        <div class="formulario">
            <div class="contenido">
                <div class="lado-izquierdo">
                    <div class="address detalle">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="titulo">Address</div>
                        <div class="subtitulo1">Calle Falsa 123</div>
                        <div class="subtitulo2">C.A.B.A.</div>
                    </div>
                    <div class="phone detalle">
                        <i class="fas fa-phone-alt"></i>
                        <div class="titulo">Phone</div>
                        <div class="subtitulo1">+5491128659835</div>
                        <div class="subtitulo2">Celular</div>
                    </div>
                    <div class="email detalle">
                        <i class="fas fa-envelope"></i>
                        <div class="titulo">Email</div>
                        <div class="subtitulo1">ascirica@medife.com.ar</div>
                        <div class="subtitulo2">Laboral</div>
                    </div>
                </div>
                <div class="lado-derecho">
                    <div class="titulo-formulario">Enviame tu mensaje</div>
                    <p>Si querés consultarme algo más, no dudes en escribime un mensaje</p>

                    <form action="#">
                        <div class="caja-input">
                            <input type="text" placeholder="Tu nombre">
                        </div>
                        <div class="caja-input">
                            <input type="email" placeholder="Tu correo electrónico">
                        </div>
                        <div class="caja-input caja-mensaje">
                            <textarea name="" id="" cols="21" rows="10"></textarea>
                        </div>
                        <div class="boton">
                            <input type="button" value="¡Enviar!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>