<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preload" href="../fonts/SyntaxLTStd-Bold.otf">
    <link rel="preload" href="../fonts/SyntaxLTStd-Roman.otf">
    <title>Agustín Scirica - Planes</title>
</head>
<body>
    <header id="top">
        <h1>ACS</h1>
        <nav>
            <ul>
                <li><a href="../index.html">home</a></li>
                <li><a href="../views/about-me.html">sobre mi</a></li>
                <li>planes</li>
                <li><a href="../views/news.html">noticias</a></li>
                <li><a href="../views/contact-me.html">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Debajo están los diferentes planes soportados por la empresa. Solo fueron ubicados en html ya que la idea, inicialmente, es realizar un carrousel y ese concepto aún no fue visto en el curso-->
        <h1>Planes</h1>
        <h2>MEDIFE+</h2>
        <p>El plan Medifé+ es una propuesta que combina la atención médica virtual a través de Cam Doctor, la compañía de un médico personal que brinda orientación, y una utilización inteligente de tu presupuesto. También cuenta con un prestigioso centro de salud en tu zona para chequeos e internaciones. Se adapta a la comodidad que buscás.</p>
        <h3>Principales prestaciones</h3>
        <ul>
            <li>Cobertura por videoconsulta en adulto, pediatría y odontología</li>
            <li>Médico Personal por videoconsulta especialista en Medicina Familiar</li>
            <li>Interconsultas a consultorios virtuales por líneas de cuidados priorizados  (diabetes, cardiovascular, salud de la mujer, del adolescente, de las personas mayores, nutrición, cuidados post-covid, chequeos de salud)</li>
            <li>Interconsultas con especialidades en instituciones sanatoriales seleccionadas</li>
            <li>Odontología General</li>
            <li>Interconsulta a Salud Mental</li>
            <li>Interconsulta a kinesiología / fisiatría / fonoaudiología</li>
            <li>Internaciones Clínicas y/o Quirúrgicas</li>
            <li>Maternidad y Plan Materno Infantil</li>
            <li>Alta complejidad</li>
            <li>Asistencia nacional</li>
            <li>Servicio de urgencias y emergencias</li>
        </ul>
        <h2>Bronce Classic</h2>
        <p>El Plan Bronce Classic es una alternativa para quienes desean acceder a un servicio de calidad sin priorizar detalles adicionales y optimizando su presupuesto. Con solo presentar tu credencial podrás acceder a una extensa nómina de prestadores en todo el país, conservando la calidad de las prestaciones con una excelente relación costo beneficio.</p>
        <h3>Principales prestaciones</h3>
        <ul>
            <li>La Cobertura Nacional mas amplia del país</li>
            <li>Controles preventivos anuales</li>
            <li>Clínica Médica</li>
            <li>Pediatría</li>
            <li>Ginecología</li>
            <li>Internación</li>
            <li>Alta complejidad</li>
            <li>Psicología / Psiquiatría</li>
            <li>Kinesiología / Fisiatría </li>
            <li>Maternidad y plan Materno Infantil</li>
            <li>Odontología general</li>
            <li>Cirugía de Ojos Excimer Láser</li>
            <li>Asistencia en viajes</li>
            <li>Cam Doctor. Atención de consultas por videollamadas</li> 
        </ul>
        <h2>Bronce</h2>
        <p>El Plan Bronce es una alternativa para quienes desean acceder a un servicio de calidad sin priorizar detalles adicionales. Con solo presentar tu credencial podrás acceder a una extensa nómina de prestadores en todo el país, conservando la calidad de las prestaciones con una excelente relación costo beneficio.</p>
        <h3>Principales prestaciones</h3>
        <ul>
            <li>La Cobertura Nacional más amplia del país</li>
            <li>Controles preventivos anuales</li>
            <li>Clínica Medica</li>
            <li>Pediatría</li>
            <li>Ginecología</li>
            <li>Internación</li>
            <li>Alta complejidad</li>
            <li>Psicología/Psiquiatría</li>
            <li>Kinesiología - Fisiatría</li>
            <li>Maternidad y plan Materno Infantil</li>
            <li>Odontología general</li>
            <li>Cirugía de Ojos Excimer Láser</li>
            <li>Asistencia en viajes</li>
            <li>Cam doctor. Atención de consultas por videollamadas</li>
        </ul>
        <h2>PLATA CLASSIC</h2>
        <p>El Plan Plata Classic* se caracteriza por una combinación de calidad, agilidad y una perfecta relación costo-beneficio. Con solo presentar tu credencial podrás acceder a una extensa y adecuada nómina de prestadores en todo el país.</p>
        <h3>Principales prestaciones</h3>
        <ul>
            <li>Amplia cartilla Médica</li>
            <li>Habitación individual</li>
            <li>Odontología general</li>
            <li>Prótesis odontológica</li>
            <li>Óptica (lentes sin cargo)</li>
            <li>Cirugía de Ojos Excimer Láser</li>
            <li>Cobertura internacional (países limítrofes)</li>
            <li>Cam Doctor. Atención de consultas por videollamada</li>
        </ul>
        <em>* Plan Plata Classic esta disponible solo en AMBA</em>
        <h2>PLATA</h2>
        <p>El Plan Plata se caracteriza por una combinación de calidad, agilidad y una perfecta relación costo-beneficio. Con solo presentar tu credencial podrás acceder a una extensa y adecuada nómina de prestadores en todo el país. Permite, además, acceder a consultas y prácticas con prestadores fuera de nuestra cartilla, recibiendo luego el reintegro correspondiente a cada prestación.</p>
        <h3>Principales prestaciones</h3>
        <ul>
            <li>Habitación individual</li>
            <li>Prótesis odontológica</li>
            <li>Ortodoncia De 8 a 18 años por única vez</li>
            <li>Óptica</li>
            <li>Cirugía de Ojos Excimer Láser</li>
            <li>Cobertura internacional ( países limítrofes)</li>
            <li>Reintegros</li>
            <li>Cam Doctor. Atención de consultas por videollamdas</li>
        </ul>
        <h2>ORO</h2>
        <p>El Plan Oro brinda máxima calidad a través de una gama de profesionales y servicios en todo el país, con diferenciales de confort. Permite, además, acceder a consultas y prácticas fuera de la nómina de prestadores, recibiendo luego el reintegro de cada prestación. Es una opción que ofrece calidad, agilidad y gran accesibilidad, combinando excelencia y confort con amplia cobertura.</p>
        <ul>
            <li>Prótesis odontológica</li>
            <li>Implantes</li>
            <li>Ortodoncia (De 8 a 18 años por única vez)</li>
            <li>Blanqueamiento Dental</li>
            <li>Cirugía Estética 2 años de permanencia.</li>
            <li>Óptica</li>
            <li>Cirugía de Ojos Excimer Láser</li>
            <li>Cobertura internacional</li>
            <li>Asistencia al hogar</li>
            <li>Reintegros</li>
            <li>Cam Doctor. Atención de consultas por videollamdas</li>
        </ul>
        <h2>PLATINUM</h2>
        <p>El Plan Platinum reúne la máxima calidad en prestaciones médicas, altos valores de reintegro, un flexible formato de acceso a las prestaciones, más un combinado de servicios adicionales que lo transforman en un completo plan de salud integral. Excelencia médica, más servicios, agilidad y confort adicional hacen de nuestro Plan Platinum un plan exclusivo.</p>
        <ul>
            <li>Prótesis odontológica</li>
            <li>Implantes</li>
            <li>Ortodoncia -sin límite de edad</li>
            <li>Blanqueamiento Dental</li>
            <li>Cirugía Estética 1 año de permanencia.</li>
            <li>Homeopatía y acupuntura</li>
            <li>Óptica</li>
            <li>Cirugía de Ojos Excimer Láser</li>
            <li>Cobertura internacional (Tratado de Schengen)</li>
            <li>Reintegros</li>
            <li>Asistencia al hogar</li>
            <li>Mayor monto de reintegro.</li>
            <li>Cam Doctor - Atención de consultas por videollamdas</li>
        </ul>
    </main>
    <footer>
        <h3>Todos los derechos reservados</h3>
        <a href="#top">Volver al inicio</a>
    </footer>
</body>
</html>