<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <!--Enlace al CDN de Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!--Enlace al CSS de FontAwesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
  <!--Enlaces internos y relativos a los archivos de fuente, almacenados dentro de la carpeta fonts-->
  <link rel="preload" href="fonts/SyntaxLTStd-Bold.otf">
  <link rel="preload" href="fonts/SyntaxLTStd-Roman.otf">
  <title>Agustín Scirica - Planes</title>
</head>

<body>
  <!--INICIO BARRA DE NAVEGACION-->
  <nav class="navbar navbar-expand-lg fondo-naranja">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../img/logo.png" alt="logo" height="60"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about-me.html">sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-page="current" href="#">planes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./news.html">noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact-me.html">contacto</a>
          </li>
      </div>
    </div>
  </nav>
  <!--FIN BARRA DE NAVEGACION-->
  <!--INICIO MAIN-->
  <main>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Plata</h5>
              <p>El Plan Plata se caracteriza por una combinación de calidad, agilidad y una perfecta relación
                costo-beneficio. Con solo presentar tu credencial podrás acceder a una extensa y adecuada nómina de
                prestadores en todo el país. Permite, además, acceder a consultas y prácticas con prestadores fuera de
                nuestra cartilla, recibiendo luego el reintegro correspondiente a cada prestación.</p>
              <h6 class="card-subtitle mb-2 text-body-secondary">Principales prestaciones:</h6>
              <ul>
                <li>Habitación individual</li>
                <li>Prótesis odontológica</li>
                <li>Ortodoncia De 8 a 18 años por única vez</li>
                <li>Óptica</li>
                <li>Cirugía de Ojos Excimer Láser</li>
                <li>Cobertura internacional ( países limítrofes)</li>
                <li>Reintegros</li>
                <li>Cam Doctor. Atención de consultas por videollamdas</li>
              </ul>
              <a href="https://wa.me/5491128659835?text=¡Hola!%20Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20el%20plan%20*Plata*.%20Me%20llamo%20"
                target="_blank" class="card-link">¡Escribime!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Plata Classic</h5>
            <p>El Plan Plata Classic* se caracteriza por una combinación de calidad, agilidad y una perfecta
              relación
              costo-beneficio. Con solo presentar tu credencial podrás acceder a una extensa y adecuada nómina de
              prestadores en todo el país.</p>
            <h6 class="card-subtitle mb-2 text-body-secondary">Principales prestaciones:</h6>
            <ul>
              <li>Amplia cartilla Médica</li>
              <li>Habitación individual</li>
              <li>Odontología general</li>
              <li>Prótesis odontológica</li>
              <li>Óptica (lentes sin cargo)</li>
              <li>Cirugía de Ojos Excimer Láser</li>
              <li>Cobertura internacional (países limítrofes)</li>
              <li>Cam Doctor. Atención de consultas por videollamada</li>
              <li><em>Plan Plata Classic esta <b>disponible solo en AMBA</b></em></li>
            </ul>
            <a href="https://wa.me/5491128659835?text=¡Hola!%20Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20el%20plan%20*Plata%20Classic*.%20Me%20llamo%20"
              target="_blank" class="card-link">¡Escribime!</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Bronce</h5>
            <p>El Plan Bronce es una alternativa para quienes desean acceder a un servicio de calidad sin priorizar
              detalles adicionales. Con solo presentar tu credencial podrás acceder a una extensa nómina de prestadores
              en todo el país, conservando la calidad de las prestaciones con una excelente relación costo beneficio.
            </p>
            <h6 class="card-subtitle mb-2 text-body-secondary">Principales prestaciones:</h6>
            <ul>
              <li>La Cobertura Nacional más amplia del país</li>
              <li>Controles preventivos anuales</li>
              <li>Clínica Medica</li>
              <li>Pediatría</li>
              <li>Ginecología</li>
              <li>Internación</li>
              <li>Alta complejidad</li>
              <li>Psicología/Psiquiatría</li>
              <li>Kinesiología - Fisiatría</li>
              <li>Maternidad y plan Materno Infantil</li>
              <li>Odontología general</li>
              <li>Cirugía de Ojos Excimer Láser</li>
              <li>Asistencia en viajes</li>
              <li>Cam doctor. Atención de consultas por videollamadas</li>
            </ul>
            <a href="https://wa.me/5491128659835?text=¡Hola!%20Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20el%20plan%20*Bronce*.%20Me%20llamo%20"
              target="_blank" class="card-link">¡Escribime</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Bronce Classic</h5>
            <p>El Plan Bronce Classic es una alternativa para quienes desean acceder a un servicio de calidad sin
              priorizar detalles adicionales y optimizando su presupuesto. Con solo presentar tu credencial podrás
              acceder a una extensa nómina de prestadores en todo el país, conservando la calidad de las prestaciones
              con una excelente relación costo beneficio.</p>
            <h6 class="card-subtitle mb-2 text-body-secondary">Principales prestaciones:</h6>
            <ul>
              <li>La Cobertura Nacional mas amplia del país</li>
              <li>Controles preventivos anuales</li>
              <li>Clínica Médica</li>
              <li>Pediatría</li>
              <li>Ginecología</li>
              <li>Internación</li>
              <li>Alta complejidad</li>
              <li>Psicología / Psiquiatría</li>
              <li>Kinesiología / Fisiatría </li>
              <li>Maternidad y plan Materno Infantil</li>
              <li>Odontología general</li>
              <li>Cirugía de Ojos Excimer Láser</li>
              <li>Asistencia en viajes</li>
              <li>Cam Doctor. Atención de consultas por videollamadas</li>
            </ul>
            <a href="https://wa.me/5491128659835?text=¡Hola!%20Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20el%20plan%20*Bronce%20Classic*.%20Me%20llamo%20"
              target="_blank" class="card-link">¡Escribime!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Medifé+</h5>
            <p>El plan Medifé+ es una propuesta que combina la atención médica virtual a través de Cam Doctor, la
              compañía de un médico personal que brinda orientación, y una utilización inteligente de tu presupuesto.
              También cuenta con un prestigioso centro de salud en tu zona para chequeos e internaciones. Se adapta a la
              comodidad que buscás.</p>
            <h6 class="card-subtitle mb-2 text-body-secondary">Principales prestaciones:</h6>
            <ul>
              <li>Cobertura por videoconsulta en adulto, pediatría y odontología</li>
              <li>Médico Personal por videoconsulta especialista en Medicina Familiar</li>
              <li>Interconsultas a consultorios virtuales por líneas de cuidados priorizados (diabetes,
                cardiovascular,
                salud de la mujer, del adolescente, de las personas mayores, nutrición, cuidados post-covid,
                chequeos de
                salud)</li>
              <li>Interconsultas con especialidades en instituciones sanatoriales seleccionadas</li>
              <li>Odontología General</li>
              <li>Interconsulta a Salud Mental</li>
              <li>Interconsulta a kinesiología / fisiatría / fonoaudiología</li>
              <li>Internaciones Clínicas y/o Quirúrgicas</li>
              <li>Maternidad y Plan Materno Infantil</li>
              <li>Alta complejidad</li>
              <li>Asistencia nacional</li>
              <li>Servicio de urgencias y emergencias</li>
            </ul>
            <a href="https://wa.me/5491128659835?text=¡Hola!%20Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20sobre%20el%20plan%20*Medife%20Plus*.%20Me%20llamo%20"
              target="_blank" class="card-link">¡Escribime!</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--FIN MAIN-->
  <!--INICIO FOOTER-->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
          href="https://www.facebook.com/agustinsciricamedife/" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- Instagram -->
        <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
          href="https://www.instagram.com/agustinsciricamedife/" role="button"><i class="fab fa-instagram"></i></a>
        <!-- Linkedin -->
        <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/agustin-scirica" role="button"><i class="fab fa-linkedin-in"></i></a>
      </section>
    </div>
    <!--COPYRIGHT-->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="mailto:fernandojfuertes@gmail.com">FJF</a>
    </div>
  </footer>
  <!--FIN FOOTER-->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</html>