@font-face {
    font-family: "SyntaxLTStd-Roman";
    src: url(../fonts/SyntaxLTStd-Roman.otf) format("opentype");
}

@font-face {
    font-family: "SyntaxLTStd-Italic";
    src: url(../fonts/SyntaxLTStd-Italic.otf) format("opentype");
}

@font-face {
    font-family: "SyntaxLTStd-Bold";
    src: url(../fonts/SyntaxLTStd-Bold.otf) format("opentype");
}

@font-face {
    font-family: "SyntaxLTStd-Black";
    src: url(../fonts/SyntaxLTStd-Black.otf) format("opentype");
}

@font-face {
    font-family: "SyntaxLTStd-UltraBlack";
    src: url(../fonts/SyntaxLTStd-UltraBlack.otf) format("opentype");
}

body {
    font-family: "SyntaxLTStd-Roman" !important;
    color: #58575c !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body main .container-fluid .row div h1 {
    margin-top: 90px;
}

.fondo-naranja {
    background-color: #eb5f0a !important;
    color: white;
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
}

main div .negrita-naranja {
    color: #eb5f0a;
}

form {
    width: 40%;
}

/*Media Queries*/

@media (max-width: 991px){
    body main .container-fluid .row .texto-index,
    body main .container-fluid .row .texto-about-me {
        padding-left: 390px;
    }
}